* {
    padding: 0;
    margin: 0;
}

#container{
    background-color: rgb(29,52,92);
    width: 970px;
    /* height: auto; */
    padding: 10px;
}

.header{
    color: rgb(195,214,235);
    background-color: rgb(204,50,58);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.navbar{
    background-color: rgb(46,125,139);
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align:initial;
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
}

.navbar ul{
    list-style-position: inside;
}

.main-content ul{
    list-style-position: inside;
}

.main-content{
    background-color: rgb(14,24,33);
    color: white;
    font-size: 12px;
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
}

.footer{
    background-color: rgb(94,102,114);
    color: white;
}

.green{
    color: rgb(111,222,231);
    text-decoration-line: underline;
    font-size: 12px;
}

.purple{
    color: rgb(118,137,255);
    font-size: 12px;
}
